<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pesquisa de Rede</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/LogoProjeto.ico') }}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    .node circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }
    .node text {
      font: 10px sans-serif;
      pointer-events: none;
    }
    .link {
      fill: none;
      stroke: #999;
      stroke-opacity: 0.6;
    }
    svg {
      border: 1px solid #ddd;
      margin-top: 20px;
      width: 100%;
      height: 600px;
    }
  </style>
</head>
<body>
  <!-- Navbar (Header) -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <!-- Título -->
      <a class="navbar-brand" href="#"></a>
      <!-- Logos -->
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='image/logo-uerr2.png') }}" alt="Logo UERR" width="150" height="40" class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='image/Logo Ciência da Computação UERR Horizontal sem fundo.png') }}" alt="Logo Ciência da Computação" width="150" height="40" class="d-inline-block align-text-top">
      </a>
      <!-- Botão de toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Itens de navegação -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Início</a>
          </li>
          <li class="nav-item">
            <!-- "Sobre" abre um modal com o objetivo do sistema -->
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Conteúdo Principal -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="text-center">
          <img src="{{ url_for('static', filename='image/LogoProjeto.png') }}" class="rounded" alt="..." height="120">
        </div>
        <h1 class="text-center mb-4">Pesquisa de Rede</h1>
        <form id="searchForm">
          <!-- Input group moderno com botões integrados -->
          <div class="input-group mb-3">
            <!-- Adicione o atributo list="suggestions" -->
            <input type="text" class="form-control" id="query" placeholder="Digite o nome ou CPF" aria-label="Nome ou CPF" list="suggestions">
            <button class="btn btn-outline-primary" type="submit">Pesquisar 🔎</button>
            <button class="btn btn-outline-success" type="button" id="generateReport">Relatório 📑</button>
          </div>
          <!-- Elemento datalist para sugestões -->
          <datalist id="suggestions"></datalist>
        </form>      
      </div>
    </div>
    <!-- Conta dos nos e arestas -->
    <div class="row">
      <div class="col-md-12">
        <div id="graph-info" class="alert alert-info text-center">
          <strong>Resumo do Grafo:</strong> 
          <span id="total-nodes">Nós: 0</span> | 
          <span id="total-edges">Arestas: 0</span> |
          <span id="type-nodes">Tipos: Carregando...</span>
        </div>
      </div>
    </div>
    

    <!-- Área para renderizar o grafo -->
    <div class="row">
      <div class="col-12">
        <svg id="graph"></svg>
      </div>
    </div>
  </div>

  <!-- Modal para seleção do nível de pesquisa -->
  <div class="modal fade" id="searchLevelModal" tabindex="-1" aria-labelledby="searchLevelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchLevelModalLabel">Selecione o Nível de Pesquisa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <p>Deseja pesquisar com nível 1 ou nível 2?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" id="modalLevel1" data-level="1">Nível 1</button>
          <button type="button" class="btn btn-outline-primary" id="modalLevel2" data-level="2">Nível 2</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Sobre -->
  <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aboutModalLabel">Sobre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <p>
            O <strong>Grupo de Pesquisa</strong> da <strong>Universidade Estadual de Roraima (UERR)</strong> desenvolveu este sistema com o objetivo de 
            facilitar a análise de redes de conexões em atos administrativos, permitindo a identificação de relacionamentos e padrões 
            que possam contribuir para a investigação de possíveis irregularidades.
          </p>
          <p>
            O projeto é conduzido pelos professores orientadores:
            <ul>
              <li><strong>Dr. Bruno César Barreto de Figueirêdo <a id="modalActArquivo" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4482716E8" target="_blank">LATTES</a></strong></li>
              <li><strong>Mestre Francisco Carlos de Lima Pereira <a id="modalActArquivo" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4732802J0" target="_blank">LATTES</a></strong></li>
            </ul>
          </p>
          <p>
            Estudantes pesquisadores envolvidos no projeto:
            <ul>
              <li><strong>Breno Nascimento</strong></li>
              <li><strong>Gabriela Monteiro</strong></li>
              <li><strong>Larisa Carvalho</strong></li>
              <li><strong>Matheus Vicente</strong></li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts: jQuery, D3.js e Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <!-- Importa o arquivo JavaScript com as funções do index -->
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
